/* This file contains all our variables */ 

$primary: #999;
$secondary: #CCC;
$white: #fff;
$lblue: #CCFFFF;
$dpink: #FF9999;
$magenta: #FF6699;
$lorange: #FFCC99;

$background-one: #6CC;
$background-two: #FFCCCC;
$background-three: #66FFCC;
$background-four: #FF9966;