/* This file contains all our variables */ 

$primary: #999;
$primary-dark: #2980b9;
$secondary: #CCC;
$secondary-dark: #666;

$background-one: #6CC;
$background-two: #FFCCCC;
$background-three: #66FFCC;
$background-four: #FF9966;